<h1 class="app-font">Benvenudo a Bon Appétit!</h1>
<div class="intro">
    <p>
        Pizza ipsum dolor amet green bell peppers mozzarella parmesan, garlic garlic sauce anchovies pesto beef. Spinach platter meatball red onions beef steak, parmesan bbq ricotta pizza white pizza meatball deep crust. Bacon & tomato marinara philly chicken, personal philly steak pineapple red onions peppers pizza.
    </p>
    <p>
        Red onions thin crust fresh tomatoes bbq sauce platter stuffed crust, ranch philly steak garlic. Burnt mouth bbq sauce thin crust extra cheese anchovies. Bbq sauce marinara Chicago style bacon & tomato bianca garlic chicken and bacon extra cheese white pizza.
    </p>
    <a [routerLink]="['/reviews']" class="btn">See Review List</a>
</div>
<img class="welcome-logo" src="/assets/cutlery.jpg" alt="" />
