h1 {
    font-size: 4rem;
    text-align: center;
    color: #4F1E8A;
}

.welcome-logo {
    margin: 0 auto;
    height: 200px;
    display: block;
}

.intro {
    max-width: 600px;
    text-align: center;
    margin: auto;
    color: #333;
}