<div class="header">
    <h1 class="app-font">Restaurant Reviews:</h1>
    <button (click)="openNewReview()" mat-mini-fab color="primary" class="add-review" aria-label="Add new review">
        <mat-icon>add</mat-icon>
    </button>
</div>

<div *ngIf="!reviews || reviews.length == 0" class="no-reviews">
    There are no restaurant reviews.
</div>

<div *ngIf="reviews && reviews.length > 0" class="review-list">
    <div *ngFor="let r of reviews" class="review-wrapper" (click)="openEditReview(r)">
        <div class="title-wrapper app-font">
            <h2>{{r.restaurantName}}</h2>
            <app-stars [(rating)]="r.rating" [id]="r.reviewId" [disabled]="true"></app-stars>
        </div>
        <div>{{r.review}}</div>
        <div class="remove-review" (click)="removeReview(r.reviewId)">x</div>
    </div>
</div>