
.rating {
    float: left;


    &:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    
    &:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        font-size:30px;
        color:#ccc;
    }

    &:not(:checked) > label:before {
        content: '★ ';
    }

    > input:checked ~ label {
        color: #ffa600;    
    }

    &:not(.disabled) {
        &:not(:checked) > label {
            cursor:pointer;
        }
    
        &:not(:checked) > label:hover,
        &:not(:checked) > label:hover ~ label {
            color: #ffcd12;  
        }
    
        > input:checked + label:hover,
        > input:checked + label:hover ~ label,
        > input:checked ~ label:hover,
        > input:checked ~ label:hover ~ label,
        > label:hover ~ input ~ label {
            color: #ffcd12;
        }
    }    
}
